#### Importing Libraries

In [3]:
import pandas as pd
import numpy as np

#### Loading Dataset

In [5]:
appearances = pd.read_csv('appearances.csv')
club_games = pd.read_csv('club_games.csv')
clubs = pd.read_csv('clubs.csv')
competitions = pd.read_csv('competitions.csv')
game_events = pd.read_csv('game_events.csv')
game_lineups = pd.read_csv('game_lineups.csv')
games = pd.read_csv('games.csv')
player_valuations = pd.read_csv('player_valuations.csv')
players = pd.read_csv('players.csv')
transfers = pd.read_csv('transfers.csv')

#### Understanding dataframes

In [87]:
appearances.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [89]:
players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [22]:
games.head()

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2321027,L1,2013,1. Matchday,2013-08-11,33.0,41.0,3.0,3.0,8.0,...,Veltins-Arena,61973.0,Manuel Gräfe,https://www.transfermarkt.co.uk/fc-schalke-04_...,4-2-3-1,4-2-3-1,FC Schalke 04,Hamburger SV,3:3,domestic_league
1,2321033,L1,2013,1. Matchday,2013-08-10,23.0,86.0,0.0,1.0,13.0,...,EINTRACHT-Stadion,23000.0,Deniz Aytekin,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-3-1-2,Eintracht Braunschweig,Sportverein Werder Bremen von 1899,0:1,domestic_league
2,2321044,L1,2013,2. Matchday,2013-08-18,16.0,23.0,2.0,1.0,1.0,...,SIGNAL IDUNA PARK,80200.0,Peter Sippel,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,4-3-2-1,Borussia Dortmund,Eintracht Braunschweig,2:1,domestic_league
3,2321060,L1,2013,3. Matchday,2013-08-25,23.0,24.0,0.0,2.0,18.0,...,EINTRACHT-Stadion,23325.0,Wolfgang Stark,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-2-3-1,Eintracht Braunschweig,Eintracht Frankfurt Fußball AG,0:2,domestic_league
4,2321072,L1,2013,5. Matchday,2013-09-14,16.0,41.0,6.0,2.0,1.0,...,SIGNAL IDUNA PARK,80645.0,Tobias Welz,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,3-5-2,Borussia Dortmund,Hamburger SV,6:2,domestic_league

### checking if dataframes have null of Not a Number values

### Appearances dataframe

In [94]:
print(appearances.isna().sum())

appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               6
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64

#### As we can see appearances dataset have 6 null values in player name, since its only 6 players we can drop those 6 rows.

In [116]:
appearances = appearances.dropna(subset=['player_name'])

In [120]:
print(appearances.isna().sum()) # now we dont have any null of NaN values in appearances dataframe.

appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               0
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64

In [96]:
print(players.isna().sum())

player_id                                   0
first_name                               2060
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2785
city_of_birth                            2445
country_of_citizenship                    379
date_of_birth                              47
sub_position                              183
position                                    0
foot                                     2562
height_in_cm                             2299
contract_expiration_date                12103
agent_name                              15987
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1518
highest_market_value_in_eur              1518
dtype: int64

In [130]:
print(players[players['first_name'].isnull()]) # as we can see some players dont have a first name and only last name. we can see that their name is equal to their last_name

       player_id first_name        last_name             name  last_season  \
3             77        NaN            Lúcio            Lúcio         2012
5            109        NaN             Dedê             Dedê         2013
65          1426        NaN            Cacau            Cacau         2013
79          1613        NaN           Vivian           Vivian         2013
153         3165        NaN             Cris             Cris         2012
...          ...        ...              ...              ...          ...
32226    1159022        NaN  Mateus Lusuardi  Mateus Lusuardi         2023
32227    1159044        NaN         Peixinho         Peixinho         2023
32229    1159449        NaN             Samu             Samu         2024
32330    1193867        NaN       Pedro Lima       Pedro Lima         2024
32423    1302421        NaN        João Neto        João Neto         2024

       current_club_id      player_code country_of_birth    city_of_birth  \
3                  506            lucio           Brazil         Brasília
5                  825             dede           Brazil   Belo Horizonte
65                  79            cacau           Brazil      Santo André
79                 855           vivian           Brazil  Caçapava do Sul
153                141             cris           Brazil        Guarulhos
...                ...              ...              ...              ...
32226             8970  mateus-lusuardi              NaN              NaN
32227             2424         peixinho         Portugal         Gondomar
32229             3268             samu         Portugal           Almada
32330              543       pedro-lima           Brazil         Cabedelo
32423             6992        joao-neto              NaN              NaN

      country_of_citizenship  ...   foot height_in_cm  \
3                     Brazil  ...    NaN          NaN
5                     Brazil  ...    NaN          NaN
65                   Germany  ...  right        179.0
79                    Brazil  ...    NaN          NaN
153                   Brazil  ...  right        183.0
...                      ...  ...    ...          ...
32226                 Brazil  ...   left        190.0
32227               Portugal  ...   left        185.0
32229               Portugal  ...  right        180.0
32330                 Brazil  ...  right        174.0
32423                 Brazil  ...  right        178.0

      contract_expiration_date          agent_name  \
3                          NaN                 NaN
5                          NaN    Football Concept
65                         NaN      NESS & Network
79                         NaN                 NaN
153                        NaN     Rafaela Pimenta
...                        ...                 ...
32226      2027-06-30 00:00:00  Fiba Soccer S.r.l.
32227      2025-06-30 00:00:00                 NaN
32229      2026-06-30 00:00:00                 NaN
32330      2029-06-30 00:00:00             Phsport
32423      2027-06-30 00:00:00      ADRIANO SPORTS

                                               image_url  \
3      https://img.a.transfermarkt.technology/portrai...
5      https://img.a.transfermarkt.technology/portrai...
65     https://img.a.transfermarkt.technology/portrai...
79     https://img.a.transfermarkt.technology/portrai...
153    https://img.a.transfermarkt.technology/portrai...
...                                                  ...
32226  https://img.a.transfermarkt.technology/portrai...
32227  https://img.a.transfermarkt.technology/portrai...
32229  https://img.a.transfermarkt.technology/portrai...
32330  https://img.a.transfermarkt.technology/portrai...
32423  https://img.a.transfermarkt.technology/portrai...

                                                     url  \
3      https://www.transfermarkt.co.uk/lucio/profil/s...
5      https://www.transfermarkt.co.uk/dede/profil/sp...
65     https://www.transfermarkt.co.uk/cacau/profil/s...
79     https://www.transfermarkt.co.uk/vivian/profil/...
153    https://www.transfermarkt.co.uk/cris/profil/sp...
...                                                  ...
32226  https://www.transfermarkt.co.uk/mateus-lusuard...
32227  https://www.transfermarkt.co.uk/peixinho/profi...
32229  https://www.transfermarkt.co.uk/samu/profil/sp...
32330  https://www.transfermarkt.co.uk/pedro-lima/pro...
32423  https://www.transfermarkt.co.uk/joao-neto/prof...

      current_club_domestic_competition_id  \
3                                      IT1
5                                      TR1
65                                      L1
79                                     FR1
153                                    TR1
...                                    ...
32226                                  IT1
32227                                  PO1
32229                                  PO1
32330                                  GB1
32423                                 UKR1

                               current_club_name market_value_in_eur  \
3                         Juventus Football Club            200000.0
5                                  Eskisehirspor            400000.0
65     Verein für Bewegungsspiele Stuttgart 1893            350000.0
79                                   EA Guingamp            100000.0
153                      Galatasaray Spor Kulübü            250000.0
...                                          ...                 ...
32226                           Frosinone Calcio            300000.0
32227                  Gil Vicente Futebol Clube                 NaN
32229                    Casa Pia Atlético Clube            100000.0
32330      Wolverhampton Wanderers Football Club           5000000.0
32423                 ZAO FK Chornomorets Odessa            100000.0

      highest_market_value_in_eur
3                      24500000.0
5                       9500000.0
65                      8000000.0
79                      1500000.0
153                    15000000.0
...                           ...
32226                    300000.0
32227                         NaN
32229                    100000.0
32330                   5000000.0
32423                    100000.0

[2060 rows x 23 columns]

#### since we have a column "name" which contains first_name + last_name, we can drop column first_name and last_name

In [141]:
players = players.drop(columns=['first_name', 'last_name'])

In [143]:
print(players.isna().sum())

player_id                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2785
city_of_birth                            2445
country_of_citizenship                    379
date_of_birth                              47
sub_position                              183
position                                    0
foot                                     2562
height_in_cm                             2299
contract_expiration_date                12103
agent_name                              15987
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1518
highest_market_value_in_eur              1518
dtype: int64

### here we can replace country_of_birth, city_of_birth, country_of_citizenship, date_of_birth,sub_position, contract_expiration_date, agent_name as unknown

In [192]:
columns_to_update = [
    'country_of_birth', 
    'city_of_birth', 
    'country_of_citizenship', 
    'date_of_birth', 
    'contract_expiration_date', 
    'agent_name',
    'sub_position',
    'foot'
]

players[columns_to_update] = players[columns_to_update].fillna('unknown')

#### Filling null values of height_in_cm, market_value_in_eur and highest_market_value_in_eur with their corresponding median values

In [195]:
median_value = players['market_value_in_eur'].median()
players['market_value_in_eur'] = players['market_value_in_eur'].fillna(median_value)

In [197]:
median_value = players['highest_market_value_in_eur'].median()
players['highest_market_value_in_eur'] = players['highest_market_value_in_eur'].fillna(median_value)

In [201]:
median_value = players['height_in_cm'].median()
players['height_in_cm'] = players['height_in_cm'].fillna(median_value)

In [203]:
print(players.isna().sum())

player_id                               0
name                                    0
last_season                             0
current_club_id                         0
player_code                             0
country_of_birth                        0
city_of_birth                           0
country_of_citizenship                  0
date_of_birth                           0
sub_position                            0
position                                0
foot                                    0
height_in_cm                            0
contract_expiration_date                0
agent_name                              0
image_url                               0
url                                     0
current_club_domestic_competition_id    0
current_club_name                       0
market_value_in_eur                     0
highest_market_value_in_eur             0
dtype: int64

### Now our Players dataframe doesnt have any Null values.

In [100]:
print(competitions.isna().sum())

competition_id              0
competition_code            0
name                        0
sub_type                    0
type                        0
country_id                  0
country_name                8
domestic_league_code        8
confederation               0
url                         0
is_major_national_league    0
dtype: int64

In [210]:
print(competitions[['domestic_league_code','country_name']])

   domestic_league_code country_name
0                   IT1        Italy
1                   NL1  Netherlands
2                   GR1       Greece
3                   PO1     Portugal
4                   RU1       Russia
5                   ES1        Spain
6                   NaN          NaN
7                   DK1      Denmark
8                   NaN          NaN
9                   ES1        Spain
10                  FR1       France
11                  IT1        Italy
12                  NL1  Netherlands
13                  RU1       Russia
14                  PO1     Portugal
15                  BE1      Belgium
16                  GB1      England
17                  NaN          NaN
18                  NaN          NaN
19                  GB1      England
20                  DK1      Denmark
21                  NaN          NaN
22                  GB1      England
23                  NL1  Netherlands
24                 UKR1      Ukraine
25                 UKR1      Ukraine
26                  ES1        Spain
27                  NaN          NaN
28                  GR1       Greece
29                  TR1       Turkey
30                  PO1     Portugal
31                  GB1      England
32                  NaN          NaN
33                   L1      Germany
34                  RU1       Russia
35                  SC1     Scotland
36                  IT1        Italy
37                  BE1      Belgium
38                  NaN          NaN
39                   L1      Germany
40                  SC1     Scotland
41                 UKR1      Ukraine
42                   L1      Germany
43                  FR1       France

### we can fill null values of domestic_league_code and country_name by unknown

In [212]:
columns_to_update = [
    'domestic_league_code', 
    'country_name'
]

competitions[columns_to_update] = competitions[columns_to_update].fillna('unknown')

In [214]:
print(competitions.isna().sum())

competition_id              0
competition_code            0
name                        0
sub_type                    0
type                        0
country_id                  0
country_name                0
domestic_league_code        0
confederation               0
url                         0
is_major_national_league    0
dtype: int64

In [ ]:
### now the competitions dataframe doesnt have any null values.

In [102]:
print(game_events.isna().sum())

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description          86574
player_in_id        525565
player_assist_id    855423
dtype: int64

In [218]:
print(game_events[['description', 'player_in_id', 'player_assist_id']].head(5))

                                         description  player_in_id  \
0               1. Yellow card  , Mass confrontation           NaN
1               1. Yellow card  , Mass confrontation           NaN
2  , Header, 1. Tournament Goal Assist: , Corner,...           NaN
3  , Right-footed shot, 2. Tournament Goal Assist...           NaN
4                                     , Not reported       49499.0

   player_assist_id
0               NaN
1               NaN
2           56416.0
3          146258.0
4               NaN

### description , player_in_id , player_assist_id values can not be set to some median , mean or unkown, so dropping them from dataframe.

In [220]:
game_events = game_events.drop(columns=['description','player_in_id','player_assist_id'])

In [222]:
print(game_events.isna().sum())

game_event_id    0
date             0
game_id          0
minute           0
type             0
club_id          0
player_id        0
dtype: int64

In [208]:
print(games.isna().sum())

game_id                       0
competition_id                0
season                        0
round                         0
date                          0
home_club_id                  9
away_club_id                  9
home_club_goals              12
away_club_goals              12
home_club_position        22169
away_club_position        22169
home_club_manager_name      827
away_club_manager_name      827
stadium                     250
attendance                 9883
referee                     652
url                           0
home_club_formation        6965
away_club_formation        6794
home_club_name            12748
away_club_name            11363
aggregate                    12
competition_type              0
dtype: int64

In [224]:
games.head(5)

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2321027,L1,2013,1. Matchday,2013-08-11,33.0,41.0,3.0,3.0,8.0,...,Veltins-Arena,61973.0,Manuel Gräfe,https://www.transfermarkt.co.uk/fc-schalke-04_...,4-2-3-1,4-2-3-1,FC Schalke 04,Hamburger SV,3:3,domestic_league
1,2321033,L1,2013,1. Matchday,2013-08-10,23.0,86.0,0.0,1.0,13.0,...,EINTRACHT-Stadion,23000.0,Deniz Aytekin,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-3-1-2,Eintracht Braunschweig,Sportverein Werder Bremen von 1899,0:1,domestic_league
2,2321044,L1,2013,2. Matchday,2013-08-18,16.0,23.0,2.0,1.0,1.0,...,SIGNAL IDUNA PARK,80200.0,Peter Sippel,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,4-3-2-1,Borussia Dortmund,Eintracht Braunschweig,2:1,domestic_league
3,2321060,L1,2013,3. Matchday,2013-08-25,23.0,24.0,0.0,2.0,18.0,...,EINTRACHT-Stadion,23325.0,Wolfgang Stark,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-2-3-1,Eintracht Braunschweig,Eintracht Frankfurt Fußball AG,0:2,domestic_league
4,2321072,L1,2013,5. Matchday,2013-09-14,16.0,41.0,6.0,2.0,1.0,...,SIGNAL IDUNA PARK,80645.0,Tobias Welz,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,3-5-2,Borussia Dortmund,Hamburger SV,6:2,domestic_league

### as we can see there are only 9 rows with null ids. so we can drop them from the dataset.

In [227]:
games = games.dropna(subset=['home_club_id'])

In [229]:
print(games.isna().sum())

game_id                       0
competition_id                0
season                        0
round                         0
date                          0
home_club_id                  0
away_club_id                  0
home_club_goals               3
away_club_goals               3
home_club_position        22160
away_club_position        22160
home_club_manager_name      818
away_club_manager_name      818
stadium                     250
attendance                 9874
referee                     643
url                           0
home_club_formation        6956
away_club_formation        6785
home_club_name            12739
away_club_name            11354
aggregate                     3
competition_type              0
dtype: int64

### by dropping them we can see only 3 rows remain where home club goals and away club golas are null. so we can drop them as well

In [232]:
games = games.dropna(subset=['home_club_goals'])

In [234]:
print(games.isna().sum())

game_id                       0
competition_id                0
season                        0
round                         0
date                          0
home_club_id                  0
away_club_id                  0
home_club_goals               0
away_club_goals               0
home_club_position        22157
away_club_position        22157
home_club_manager_name      815
away_club_manager_name      815
stadium                     250
attendance                 9871
referee                     640
url                           0
home_club_formation        6953
away_club_formation        6782
home_club_name            12736
away_club_name            11351
aggregate                     0
competition_type              0
dtype: int64

In [252]:
print(games.dtypes)

game_id                     int64
competition_id             object
season                      int64
round                      object
date                       object
home_club_id              float64
away_club_id              float64
home_club_goals           float64
away_club_goals           float64
home_club_position        float64
away_club_position        float64
home_club_manager_name     object
away_club_manager_name     object
stadium                    object
attendance                float64
referee                    object
url                        object
home_club_formation        object
away_club_formation        object
home_club_name             object
away_club_name             object
aggregate                  object
competition_type           object
dtype: object

### since home_club_position, away_club_position and attendance are in float; we can fill the null values of them by their corresponding median

In [254]:
median_value = games['home_club_position'].median()
games['home_club_position'] = games['home_club_position'].fillna(median_value)

In [256]:
median_value = games['away_club_position'].median()
games['away_club_position'] = games['away_club_position'].fillna(median_value)

In [258]:
median_value = games['attendance'].median()
games['attendance'] = games['attendance'].fillna(median_value)

In [260]:
print(games.isna().sum())

game_id                       0
competition_id                0
season                        0
round                         0
date                          0
home_club_id                  0
away_club_id                  0
home_club_goals               0
away_club_goals               0
home_club_position            0
away_club_position            0
home_club_manager_name      815
away_club_manager_name      815
stadium                     250
attendance                    0
referee                     640
url                           0
home_club_formation        6953
away_club_formation        6782
home_club_name            12736
away_club_name            11351
aggregate                     0
competition_type              0
dtype: int64

### we can fill home_club_manager_name, away_club_manager_name , stadium, referee, home_club_formation, away_club_formation, home_club_name, away_club_name as unknown since we cant just add median or mean to it.

In [267]:
columns_to_update = [
    'home_club_manager_name', 
    'away_club_manager_name', 
    'stadium', 
    'referee', 
    'home_club_formation', 
    'away_club_formation',
    'home_club_name',
    'away_club_name'
]

games[columns_to_update] = games[columns_to_update].fillna('unknown')

In [269]:
print(games.isna().sum())

game_id                   0
competition_id            0
season                    0
round                     0
date                      0
home_club_id              0
away_club_id              0
home_club_goals           0
away_club_goals           0
home_club_position        0
away_club_position        0
home_club_manager_name    0
away_club_manager_name    0
stadium                   0
attendance                0
referee                   0
url                       0
home_club_formation       0
away_club_formation       0
home_club_name            0
away_club_name            0
aggregate                 0
competition_type          0
dtype: int64

### we dont have any null values in games dataframe as well.